@media (min-width: 376px) {
	.gallery {
		img {
			height: 65rem;
		}
	}
}

@media (min-width: 472px) {
	.gallery {
		img {
			height: 70rem;
		}
	}

	.cookie-box {
		height: 220px;
	}
}

@media (min-width: 576px) {
	.about {
		grid-template-columns: repeat(2, 1fr);
		padding: 10em 2em;

		&__box {
			display: grid;
			justify-content: end;
			grid-column: 2/3;

			&-img,
			&-text {
				max-width: 500px;
				max-height: 340px;
			}
		}

		&__title {
			padding: 0 1em;
		}

		&__bg-icon {
			position: absolute;
			display: block;
			opacity: 0.05;

			&--one {
				top: 14%;
				width: 20%;
				animation: rotate-right 160s infinite linear;
			}

			&--two {
				bottom: 10%;
				left: 10%;
				width: 30%;
				animation: rotate-left 140s infinite linear;
			}

			&--three {
				top: 26%;
				left: 16%;
				width: 50%;
				animation: rotate-right 160s infinite linear;
			}

			&--four {
				top: 55%;
				left: -10%;
				width: 15%;
				animation: rotate-left 140s infinite linear;
			}
		}
	}

	.gallery {
		&-mobile {
			grid-template-columns: repeat(2, 1fr);
			img {
				height: 50rem;

				&:nth-child(1) {
					display: none;
				}

				&:nth-child(4) {
					display: none;
				}
			}
		}
	}
}
